*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
}

.app {
    height: 95vh;
}
  
  
  

h1{
    background-color: orange;
    color: #fff;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.createnote{
    width: 40%;
    height: 30%;
    box-shadow: .2rem .2rem .5rem grey;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem auto;
}

.createnote input,textarea{
    width: 100%;
    border: none;
    text-align: start;
    margin-bottom: 1rem;
}

.createnote input:focus,textarea:focus{
    border: none;
    outline: none;
    border-bottom: .1rem solid orange;
}
.createnote input{
    height: 5vh;
    font-size: 1.5rem;
}

.createnote input::placeholder{
    font-size: 1.5rem;
    margin-top: .2rem;
}

::placeholder{
    text-align: start !important;
}

.createnote .cr-btn {
    margin-left: 87% !important;
    color: orange;
    box-shadow: .2rem .2rem .5rem grey;
}

.note{
    width: 20%;
    box-shadow: .1rem .1rem .5rem grey;
    border-radius: .5rem;
    padding: .5rem;
    font-size: .8rem;
    margin:1rem 1rem;
    display: inline-block;
}

.note-btn{
    margin-left: 80% !important;
    color: orange !important;
    box-shadow: .2rem .2rem .5rem rgb(172, 172, 172);
}

.cr-btn:hover,.note-btn:hover{
    background-color: orange !important;
    color: #fff !important;
}

.footer{
    text-align: center;
}

@media (max-width: 500px){
    .createnote {
        width: 100%;
    }

    .note {
        width: 65%;
    }
}